/* Main Header Section Start */
.main-header-background {
    background-color: #09d0e2;
    box-sizing: border-box;
}

.main-header {
    background-color: #09d0e2;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.main-header-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 90px;
}

/* Main Header Section End */

/* Main Header Left Section Start */

.logo{
    width: 80px;
    cursor: pointer;
}

/* Main Header Left Section End */

/* Main Header Middle Section Start */

.main-header-middle {
    flex: 1; 
}

.main-header-middle-adjust-width {
    max-width: 500px;
    margin-left: auto; 
 }
 
.main-header-middle-content {
    display: flex;
    align-items: center;
    justify-content: end;
}

.search-bar {
    flex:1
}

.search-main {
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 40px;
    border: solid 1px rgb(116, 116, 116);
    border-radius: 2px;
    outline: none;

}

.search::placeholder {
 font-size: 17px;
 color: rgb(0, 0, 0);
 padding-left: 10px;
}

.search-btn {
    margin-left: -1px;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border: solid 1px rgb(116, 116, 116);
    cursor: pointer;
    transition: opacity 0.15s;
    
}

.search-btn :hover {
    opacity: 0.2;

}

.search-icon {
    width: 18px;
}

/* Main Header Middle Section End */

/* Main Header Right Section Start */

.main-header-right {


}

.main-header-right-content {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.my-account,
.cart {
    margin: 0 20px;
}

.my-account-content,
.cart-content {
    text-align: center;
    transition: opacity 0.15s;
}

.my-account-content:hover,
.cart-content:hover {
    opacity:0.6
    
}

.my-account-link i,
.cart-link i {
    display: block;
    text-align: center;  
}

.my-account-icon,
.cart-icon {
    color: rgb(0, 0, 0);
}

.my-account-txt,
.cart-txt {
    color: black;
    font-size: 12px;
    font-weight: 700; 
}

/* Main Header Right Section End */

