.main-background {
    box-sizing: border-box;
    margin-top: 300px;
}

.main-body {
    margin-left: auto;
    margin-right: auto;
}

.product-cat-slider {
    padding: 30px;
    padding-right: 30px;
    
}

.product-cat-slider-names {
    text-align: center;
    height: 36px;
    background-color: #09d0e2;
    margin-right: -30px;
    margin-left: -30px;
}

.product-cat-slider-wrap {
   display: flex;
   max-width: 1500px;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   justify-content: center;
   border: solid 3px #09d0e2;
   border-top: none;
   margin-top: -20px;
   padding-top: 20px;
   
}

.product-cat-slider-content {
    width: 165px;
}

.product-cat-slider-img {
    width: 100%
}

@media screen and (max-width: 767px) {
    .content2 {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    .content4,
    .content3 {
        display: none;
    }
 
}

@media screen and (max-width: 1000px) {
    .content5 {
        display: none;
    }
}


@media screen and (min-width: 1000px) and (max-width:1200px) {
      .content6 {
        display: none;
      }
}




